:root {
    --bColorHeadContainer: #009688;
    --bColorBottomContainer: #d9dbd6;
    --white: white;
    --lightgrey: #eaeaea;
    --azure: #8edafc;
    --green: green;
    --lightgrey1:#e9ebeb;
    
    --lightblack: #222;
    --msuGreen: #2D4739;
    --black: black;
    --blackAzure:#13598d;
    --redBrown: #444 ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 1200px;
}

.light-theme {
    --bcHead: var(--bColorHeadContainer);
    --bcBottom: var(--bColorBottomContainer);
    --bcContainer: var(--white);
    --colorText: var(--black);
    --bcProfile: var(--lightgrey);
    --notification: var(--azure);
    --border: var(--green);
    --userHover: var(--lightgrey1);
}

.dark-theme {
    --bcHead: var(--lightblack);
    --bcBottom: var(--msuGreen);
    --bcContainer: var(--black);
    --colorText: var(--white);
    --bcProfile: var(--redBrown);
    --notification: var(--blackAzure);
    --border: var(--white);
    --userHover: var(--redBrown)
}



/* spash page */
.splash-page {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: green;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.splash-page.hidden {
    transition: all 2s linear;
    opacity: 0;
}

.splash-page.hidden.d-none {
    display: none;
}

h1{
    font-size: 3em;
    padding-bottom: 1em;
}

/* head container */
.head-container {
    height: 20vh;
    background-color: var(--bcHead)
    ;
}

/* bottom container */
.bottom-container {
    height: 80vh;
    background-color: var(--bcBottom)
    ;
}

/* welcome */
.welcome {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 3;
    background-color: black;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* inner welcome */
.inner-welcome {
    background-color: white;
    width: 50%;
}


.inner-welcome .title{
    text-align: center;
}

/* inner container */
.inner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 90vh;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    min-width: 1200px;
}

.inner-container img {
    width: 40px;
    border-radius: 50%;
}

.inner-container-l {
    width: 30%;
    background-color: var(--bcContainer);
    height: 100%;
    color: var(--colorText);
}

.inner-container-r {
    width: 70%;
    height: 100%;
}

.p-relative{
    position: relative;
}

/*profile  */

.profile {
    color: var(--colorText);
    display: flex;
    justify-content: space-between;
    background-color: var(--bcProfile)
    ;
    padding: 10px;
    border-right: 1px solid grey;
}

.profile > div {
    display: flex;
    align-items: center;
}

/* switch */

.switch {
    width: 55px;
    margin-left: 10px;
}
  
.switch div {
    position: relative;
    display: block;
    background-color: white;
    width: 30px;
    border-radius: 50px;
    padding: 0 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.switch input {
   display: none;
}

.slider {
    background-color: #999;
    transition: 0.4s;
    border-radius: 34px;
    height: 12px;
    width: 12px;
    display: inline-block;
    position: relative;
  }

  input:checked + .slider {
    transform: translateX(8px);
  }

/* head-profile */

.head-profile .deleteAll {
    position: absolute;
    top: 50px;
    right: 0;
    color: black;
}

.head-profile .deleteAll > div {
    background-color: white;
}

.head-profile .deleteAll > div:hover {
    background-color: violet;
    cursor: pointer;
}

.cursor-p {
    cursor: pointer;
}

.border {
    border: 1px solid var(--border);
}

/* color */

.c-grey {
    color: #b1b1b1;
}


/* notification */
.c-grey i {
    padding-right: 10px;
}

.notification {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--notification)
    ;
}

.notification i{
    font-size: 1.5em;
    padding: 10px;
    background-color: honeydew;
    border-radius: 50%;
    color: var(--notification)
    ;
} 

.notification a{
    font-size: 0.8em;
}



/* search */

.search {
    padding: 5px;
    background-color: #eaeaea
    ;
}

.input {
    background-color: white;
    padding: 5px;
    display: flex;
}

.input input {
    border: none;
    outline: none;
    width: 100%;
}

/* users */

.users li{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: var(--bcContainer);
}

.users li:hover {
    background-color: var(--userHover);
    ;
    cursor: pointer;
}

.users li > div {
    display: flex;
}

.received {
    font-size: 0.7em;
}

/* width */

.w-50 {
    width: 160px;
}

/* user profile */

.users {
    height: calc(100% - 160px);
    overflow: auto;
}

.user-profile {
    color: var(--colorText);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: var(--bcProfile) ;
}

.user-profile > div {
    display: flex;
    align-items: center;
}

.user-profile i {
    color: grey;
}


/* last access */

.last-access{
    font-size: 0.7em;
    color:grey ;
}

.online {
    padding-right: 20px;
    color: green;
}

.online i {
    color: green;
}



/* body-messages */

.body-messages {
    background-image: url(../img/mine.jpg);
    height:calc(100% - 130px);
    overflow: auto;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
}

.body-messages li {
    
    padding: 10px;
    background-color: white;
    width: 30%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

/* down */

.down {
    position: relative;
}

.down i {
    cursor: pointer;
    visibility: hidden;
}

.down .appear {
    position: absolute;
    top: 30px;
    left: -10px;
    background-color: azure;
    width: 100%;
    border-radius: 5px;
    line-height: 25px;
}


.down .appear div:hover {
    background-color: brown;
    cursor: pointer;
} 

/* body messages */

.body-messages .send {
    align-self: flex-end;
    background-color: chartreuse;
}

.body-messages .date {
    font-size: 0.8em;
    align-self: flex-end;
}

.body-messages li:hover i {
    visibility: visible;
}

/* messages */

.messages {
    padding: 11px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:var(--bcProfile) ;
    height: 70px;
}

ul li {
    list-style: none;
}

.messages i {
    font-size: 2em;
    color: grey;
}

.messages input {
    width: 80%;
    outline: none;
    border:none;
    padding: 10px 0;
    border-radius: 10px;
}

